<!-- wp:template-part {"slug":"desktopbanner","theme":"leores","tagName":"aside","className":"lr-top-navbar-desktop"} /-->

<!-- wp:template-part {"slug":"header","theme":"leores","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"10%","right":"5%","bottom":"10%","left":"5%"}}},"backgroundColor":"white","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull has-white-background-color has-background" style="padding-top:10%;padding-right:5%;padding-bottom:10%;padding-left:5%"><!-- wp:group {"tagName":"article","style":{"spacing":{"padding":{"top":"2.5vw","right":"2.5vw","bottom":"2.5vw","left":"2.5vw"}}},"backgroundColor":"white","className":"lr-404"} -->
	<article class="wp-block-group lr-404 has-white-background-color has-background" style="padding-top:2.5vw;padding-right:2.5vw;padding-bottom:2.5vw;padding-left:2.5vw"><!-- wp:heading {"level":1,"className":"lr-404-headline","fontSize":"medium-large"} -->
	<h1 class="lr-404-headline has-medium-large-font-size">Fehler 404: Seite nicht gefunden</h1>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"className":"lr-404-info","fontSize":"normal"} -->
	<p class="lr-404-info has-normal-font-size">Die aufgerufene Seite konnte nicht gefunden werden. Vermutlich haben Sie einen Tippfehler in der URL gemacht oder einen abgelaufenen Link aufgerufen. Alternativ können Sie das Suchformular verwenden um leores.de zu durchsuchen:</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:search {"label":"","placeholder":"Leores nach Suchbegriff durchsuchen","widthUnit":"%","buttonText":"Suchen","backgroundColor":"primary","textColor":"white","className":"lr-search"} /--></article>
	<!-- /wp:group -->
	
	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"leores","tagName":"footer"} /-->