<!-- wp:template-part {"slug":"desktopbanner","theme":"leores","tagName":"aside","className":"lr-top-navbar-desktop"} /-->

<!-- wp:template-part {"slug":"header","theme":"leores","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"5%","right":"5%","bottom":"5%","left":"5%"}}},"backgroundColor":"lightbg","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull has-lightbg-background-color has-background" style="padding-top:5%;padding-right:5%;padding-bottom:5%;padding-left:5%"><!-- wp:shortcode -->
	[rank_math_breadcrumb]
	<!-- /wp:shortcode -->
	
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:query-title {"type":"archive","style":{"typography":{"fontStyle":"normal","fontWeight":"200"}},"fontSize":"medium-large"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:term-description /-->
	
	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"align":"full","layout":{"inherit":true}} -->
	<div class="wp-block-query alignfull"><!-- wp:post-template -->
	<!-- wp:group {"tagName":"article","backgroundColor":"white"} -->
	<article class="wp-block-group has-white-background-color has-background"><!-- wp:post-title {"isLink":true,"fontSize":"large"} /-->
	
	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-excerpt {"moreText":"Weiterlesen","showMoreOnNewLine":false} /--></article>
	<!-- /wp:group -->
	<!-- /wp:post-template -->
	
	<!-- wp:spacer {"height":"40px"} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<!-- wp:query-pagination-previous {"label":"Vorherige Seite"} /-->
	
	<!-- wp:query-pagination-next {"label":"Nächste Seite"} /-->
	<!-- /wp:query-pagination --></div>
	<!-- /wp:query --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"leores","tagName":"footer"} /-->