<!-- wp:template-part {"slug":"desktopbanner","theme":"leores","className":"lr-top-navbar-desktop"} /-->

<!-- wp:template-part {"slug":"header","theme":"leores","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group alignfull" style="padding-top:1rem;padding-bottom:1rem"><!-- wp:group {"tagName":"article","align":"full"} -->
    <article class="wp-block-group alignfull"><!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->
    
    <!-- wp:spacer {"height":"1px"} -->
    <div style="height:1px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></article>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"leores","tagName":"footer"} /-->